@using ExordiumGames.MVC.Data;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExordiumGames.MVC.styles.css" asp-append-version="true" />
    <script src="/js/site.js"></script>
    <title>CreateCategory</title>
</head>
<body>
    <form id="category-form">
        <div>
            <label for="Name">Category Name:</label><br />
            <input type="text" id="Name" name="Name" placeholder="Enter category name.." class="form-control" />
        </div>
        <div>
            <label for="Priority">Priority:</label><br />
            <input type="number" min="0" max="5" id="Priority" name="Priority" class="form-control" />
        </div>
        <br /> <br />
        <div class="items-container">
            @foreach (var item in @Model)
            {
                <div class="item form-control">
                    <input class="item-checkbox" type="checkbox" />
                    <div>
                        <p>@item.Name</p>
                        <p>@item.RetailerName</p>
                    </div>
                    <div>
                        <p>@item.Description</p>
                    </div>
                    <div>
                        <p>@item.DiscountDate</p>
                    </div>
                    <img class="image" src="@item.ImageUrl" />
                </div>
            }

        </div>
        <button id="category-add-button" type="submit" class="form-control">Submit</button>
    </form>
</body>
</html>
