@model ExordiumGames.MVC.Dto.FilteringDto.CategoryFilterDto

@{
    var Categories = ViewBag.Categories;
}

<a asp-controller="Account" asp-action="CreateCategory" class="btn btn-primary">Create Category</a>
<br />
<br/>

<aside class="category-filter-container container">
    <p>Filter categories:</p>

    <form asp-action="GetCategories" asp-controller="Account">
        <div class="row category-props-container">

            <div class="col form-control">
                <label asp-for="@Model.CategoryName">Category name:</label>
                <input type="text" asp-for="@Model.CategoryName" />
                <input type="hidden" asp-for="@Model.CategoryName" />
            </div>

            <div class="col form-control">
                <label asp-for="CategoryPriority">Category priority:</label>
                <input type="text" asp-for="CategoryPriority" />
                <input type="hidden" asp-for="CategoryPriority" />
            </div>
        </div>
        <button type="submit">Filter results</button>
    </form>
</aside>

<section class="categories-container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Categories)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Priority</td>
                    <td>
                        <a asp-action="CategoryDetails" 
                           asp-controller="Account" 
                           asp-route-CategoryId="@item.Id"
                           class="btn btn-primary">Details</a>
                    </td>
                    <td>
                        <a asp-action="UpdateCategory"
                           asp-controller="Account"
                           asp-route-CategoryId="@item.Id"
                           class="btn btn-outline-primary">Update</a>
                    </td>
                    <td>
                        <a asp-action="DeleteCategory"
                           asp-controller="Account"
                           asp-route-CategoryId="@item.Id"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>