@model ExordiumGames.MVC.Dto.RetailerRequestModel

<section class="container">
    <div class="form-control">
        <p>@Model.Name</p>
    </div>
    <div class="form-control">
        <p>@Model.Priority</p>
    </div>
    <div class="items-container">
        @foreach (var item in Model.Items)
        {
            <div class="item form-control">
                    <p>Item name: @item.Name</p>
                    <p>Item description: @item.Description</p>
                    <p>Item discount date: @item.DiscountDate</p>
                    <div>
                        <p>Image:</p>
                        <img src="@item.ImageUrl"/>
                    </div>
                    <p>Price: @item.Price</p>
            </div>
        }
    </div>
</section>